@font-face {
    font-family: 'Akira';
    src: url("https://varn-music-list.s3.ap-south-1.amazonaws.com/assets/fonts/Akira.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://varn-music-list.s3.ap-south-1.amazonaws.com/assets/fonts/JetBrainsMono-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}



:root {
    background: #003049;
}

.global_center_div {
    justify-content: center;
    align-items: center;
    display: flex;
}

.global_font {
    font-family: "JetBrains Mono", monospace;
}